In [7]:

import cassandra
from cassandra.cluster import Cluster

### Database Functions

In [32]:
def connect_db(keyspace = None):
    
    try:
        cluster = Cluster(['localhost'])
        session = cluster.connect()
        #print('Database connection: OK!')
        if keyspace != None:
            session.set_keyspace(keyspace)
        return cluster, session
    except Exception as e:
        #print("Exception:\n" + str(e))
        return e
    
def close_db(cluster, session):
    try:
        session.shutdown()
        cluster.shutdown()
        return True, ""
    except Exception as e:
        return False, "Error - " + str(e)

### Connect to database

In [33]:
db_result = connect_db("udacity")
cluster = None
session = None
try:
    if(len(db_result)):
        cluster, session = db_result
        print('Database connection: OK!')
except Exception as e:
    print("connect_db() exception:")
    print(db_result)

Database connection: OK!

### Create keyspace/database

In [46]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

### Create tables

In [38]:
query = """
        CREATE TABLE IF NOT EXISTS music_library
        (year INT, artist_name TEXT, album_name TEXT, PRIMARY KEY(year, artist_name))
        """
try:
    session.execute(query)
    print("'music_library' table is created.")
except Exception as e:
    print(e)
    
query1 = """
         CREATE TABLE IF NOT EXISTS artist_library
         (artist_name TEXT, album_name TEXT, year INT, PRIMARY KEY(artist_name, album_name))
         """

try:
    session.execute(query1)
    print("'artist_library' table is created.")
except Exception as e:
    print(e)
    
query2 = """
         CREATE TABLE IF NOT EXISTS alumn_library
         (album_name TEXT, artist_name TEXT, year INT, city TEXT, PRIMARY KEY(album_name, artist_name))
         """
try:
    session.execute(query2)
    print("'alumn_library' table is create")
except Exception as e:
    print(e)

'music_library' table is created.
'artist_library' table is created.
'alumn_library' table is create

### Insert data

In [43]:
query = """
        INSERT INTO music_library(year, artist_name, album_name)
        VALUES(%s, %s, %s)
        """

query1 = """
        INSERT INTO artist_library(artist_name, year, album_name)
        VALUES(%s, %s, %s)
         """

query2 = """
         INSERT INTO album_library(album_name, artist_name, year)
         VALUES(%s, %s, %s)
         """

try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1970, "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("Let it Be", "The Beatles", 1970))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("Rubber Soul", "The Beatles", 1965))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("My Generation", "The Who", 1965))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("The Monkees", "The Monkees", 1966))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("Close To You", "The Carpenters", 1970))
except Exception as e:
    print(e)

### Queries

In [45]:
query = "SELECT * FROM music_library WHERE year = 1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row)

Row(year=1970, artist_name='The Beatles', album_name='Let it Be')
Row(year=1970, artist_name='The Carpenters', album_name='Close To You')

### Close database

In [31]:
is_db_closed, err_msg = close_db(cluster,session)
if is_db_closed:
    print("Database closed!")
else:
    print("Unable to close database!")
    print(err_msg)

Database closed!